body {
    min-width: 50%;
    margin: 50px 100px;
    
    font-family: Arial, sans-serif;
}
h1 {text-align: center;
    color: rgb(22, 34, 62);;
    }
.navbar { background-color: rgb(207, 207, 220);
    display: block;
    border-style: solid;
    border-color: rgb(22, 34, 62);
}    
 a {color: white;
    
}

 ul li {display:inline;
padding: 10px;
background-color: rgb(22, 34, 62);
 }

.introvideo {margin: 20px 0;
    display: flex;
    justify-content: center;
}
.galleryvideo1 {display: flex;
    gap: 1rem;
}

